body {
  background: #0b1220;
  color: #e5e7eb;
  font-family: Arial;
  text-align:center;
}
.container {
  max-width: 700px;
  margin:auto;
  padding:20px;
}
input {
  width:80%;
  padding:10px;
}
button {
  padding:8px 14px;
  margin:6px;
  border:none;
  background:#22c55e;
  color:#000;
  cursor:pointer;
}
button:hover {
  background:#16a34a;
}
.box {
  margin-top:20px;
  padding:10px;
  border:1px solid #1e293b;
  border-radius:8px;
}
.download-btn {
  display:inline-block;
  margin:6px;
  padding:8px 14px;
  background:#0ea5e9;
  color:#000;
  border-radius:6px;
  text-decoration:none;
}
.download-btn:hover { background:#38bdf8; }
